doctype html
html
    include common/_head
    body
    header.header
        .header_top
            ul.header__social_menu
                li.social-list
                    a.social-link
                li.social-list
                    a.social-link
                li.social-list
                    a.social-link
            button( type="button" class="sandwich")
                span.devide
                span.devide
                span.devide
        .user_block
            .user_block_photo
            .user_block_name
            .user_block_descr
        .header_bg
            a Works
    .block_portfolio
        .portfolio_title
            h2 Мои работы
        .porfolio_content.clearfix
            .portfolio_content_img
                .img_container
                    img
            .portfolio_content_descr
                .descr_container
                    .descr_container__title
                        h3 Сайт школы онлайн образования
                    .descr_container__skills Html,css,javascript
                    a.container_link Просмотреть сайт
            .portfolio_content_nav
                .nav_prev
                    img
                    a.nav_prev_link
                .nav_next
                    img
                        a.nav_next_link
    .about_me
        .about_me_head
            h2.about_me_title
        .about_me_reviews
            .reviews_container
                .container_txt Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                .container_user
                    .user_photo
                        img
                    .user_name
                        p.Ковальчук Дмитрий
                        p.основатель Loftschool
        .about_me_reviews
            .reviews_container
                .container_txt Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                .container_user
                    .user_photo
                        img
                    .user_name
                        p.Зар Захаров
                        p.главный преподаватель
    .




