@font-face {
  font-family: sansus;
  src: url(../fonts/Sansus-Webissimo-Regular.ttf);
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500&subset=latin,cyrillic);

@function rem($px) {
  @return $px / 16px + 0rem;
}
html,body {
  width:100%;
  height:100%;
  font-size: 16px;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  box-sizing: border-box;
  padding: 20px 25px 0;
  margin: 0;
  position: relative;
  min-height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.wrapper {
  width: 100%;
  height: 100%;
  //background-color: #1a2c51;
  //background-image: url("../img/night-photo.jpg");
  background-size: cover;
}

@import'common/_welcome';


.header {
  height: 100vh;
  min-height: 650px;
  background: url("../img/night-photo.jpg") no-repeat top center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  .header_top {
    box-sizing: border-box;
    padding: 28px 30px 0;
    margin-bottom: 55px;
    display: flex;
    align-items: center;
    z-index: 20;
    width: 100%;
  }
  .header__social_menu {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    //height: rem(22px);
    font-size: 0;
  }
  .social-list {
    display: inline-block;
    font-size: 0;
    margin-left: rem(27px);
    margin-bottom: rem(5px);
    vertical-align: middle;
  }
  .vk-svg:hover,.github-svg:hover,.linked-in:hover {
    fill: #0548be;
  }
  .social-list:first-child {
    margin-left: 0;
  }
  .sandwich {
    width: rem(40px);
    height: rem(35px);
    padding: 0;
    outline: none;
    position: relative;
    z-index: 2;
    cursor: pointer;
    border: none;
    background: transparent;
    margin-left: auto;
    font-size: 0;
    &:hover .devide {
      background-color: #0548be;
    }
  }
  .devide {
    display: inline-block;
    height: rem(5px);
    width: 100%;
    margin: 0;
    margin-bottom: 5px;
    border-radius: 3px;
    background-color: #fff;
  }
  .arrow_down {
    position: absolute;
    left: 50%;
    bottom: rem(240px);
    margin-left: rem(-14px);
    text-align: center;
    z-index: 1;
  }
}

.user_block {
  max-width: rem(500px);
  min-height: rem(270px);
  //margin-left: auto;
  //margin-right: auto;
  //position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  &_bg {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    .star1 {
      width: 459px;
      height: 270px;
      opacity: .2;
    }
  }
  &_photo {
    position: relative;
    width: rem(141px);
    height: rem(141px);
    padding: 0;
    margin:0 auto;
    margin-bottom: rem(18px);
    border-radius: 50%;
    overflow: hidden;
    }
    img {
      max-width: 100%;
      position: absolute;
      top:0;
      left: 0;
    }
  &_name {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: rem(35px);
    color: #fff;
    text-align: center;
  }
  .block_name_caps {
    font-family: Sansus, sans-serif;
    font-size: rem(49px);
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
  }
  &_descr {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: rem(16px);
    color: #fff;
    text-align: center;
  }
}

//Мои работы
.block_portfolio {
  height: 100vh;
  min-height: rem(650px);
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  .portfolio_header {
    position: absolute;
    top: 0px;
    left: 0;
    transform: translateY(-100%);
    width: 100%;
    height: rem(340px);
    background: url("../img/bg.svg")no-repeat center;
    background-size: cover;
    text-align: center;
  }
  .portfolio_header__title {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: rem(60px) 0;
    box-sizing: border-box;


    color: white;
    font-family: Sansus, sans-serif;
    font-size: rem(63px);
    font-weight: 400;
    line-height: rem(56px);
    text-transform: uppercase;


    background: url(../img/star2.png) no-repeat 50% -50%;
    background-size:contain;
  }
  .portfolio_content_descr {
    width: 50%;
    height: 100%;
    background-color: #f2f0e8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .description_list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .descr_container {
    display: none;
    width: rem(480px);
    &.active {
      display: block;
    }
  }
  .descr_container__title {
    margin: 0;
    margin-bottom: rem(60px);
    position: relative;
    text-align: center;
    color: #474b57;
    font-family: Sansus, sans-serif;
    font-size: rem(27px);
    font-weight: 600;
    line-height: rem(38px);
    text-transform: uppercase;
  }
  .descr_container__title:after{
    display: block;
    content: '';
    position: absolute;
    bottom: rem(-20px);
    left:50%;
    margin-left: rem(-44.5px);
    width:rem(89px);
    height:0;
    border:1.75px solid #566358;
  }
  .descr_container__skills {
    padding: 0;
    margin-bottom: rem(60px);
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    color: #083c96;
    font-size: 0;
    .skills_item {
      display: inline-block;
      vertical-align: top;
      font-family: Roboto, sans-serif;
      font-size: rem(16px);
      font-weight: 500;
    }
  }
  .container_link {
    padding-left: rem(50px);
    position: relative;
    line-height: 45px;
    margin: 0 auto;
    text-decoration: none;
    display: block;
    width: 160px;
    height: 45px;
    background-color: #004cd1;
    color: #FFFFFF;
    &:hover {

    }
  }
  .container_link:before{
    display: block;
    position: absolute;
    left:18px;
    top:13px;
    width:20px;
    height:19px;
    content:'';
    background: url("../img/link.svg") center no-repeat;
  }
  .portfolio_content_img {
    height: 70%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e2de;
  }
  .img_container {
    height: 60%;
  }
  .main_picture {
    max-height: 100%;
    max-width: 100%;
  }
  .portfolio_content_nav {
    display: flex;
    width: 50%;
    height: 30%;
    background-color: rgba(227, 226, 222, 0.7);
  }
  .nav_wrap {
    width: 50%;
    position: relative;
    cursor: pointer;
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: rgba( 0,0,0,.2);
      }
    &:hover {
      background: rgba( 0,0,0,.1);
    }
    }
    .slider_item {
      display: none;
      &.slider_item_active {
        display: block;
      }
    }
    .slider_picture {
      position: absolute;
      max-width: 95%;
      max-height: 95%;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      }
    .nav_next_link,.nav_prev_link {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 4;
      }
    .nav_prev_link {
      transform: translate(-50%,-50%) rotate(180deg);
    }
}

.about_me {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  background: url("../img/night-tree.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
    .about_me_head {
      background: url(../img/star3.png) no-repeat 50% 50%;
    }
      .about_me_title {
        max-width: rem(380px);
        text-align: center;
        margin: 0;
        margin-top: rem(69px);
        margin-bottom: rem(72px);
        color: white;
        font-family: sansus, sans-serif;
        font-size: rem(63px);
        font-weight: 700;
        line-height: rem(66px);
        text-transform: uppercase;
      }
  .about_me_reviews_container {
    display: flex;
    padding: 0 5px;
    }
    .about_me_reviews {
      display: flex;
      flex-direction: column;
      max-width: rem(380px);
      .user_photo {
        margin: 0 auto;
        margin-bottom: rem(20px);
        width: rem(77px);
        height: rem(77px);
        border-radius: 50%;
        overflow: hidden;
      }
        img {
          max-width: 100%;
          height: auto;
        }
      .container_txt {
        position: relative;
        color: white;
        font-family: Roboto, sans-serif;
        font-size: rem(16px);
        font-style: italic;
      }
      .container_txt:before {
        content: '';
        display: block;
        position: absolute;
        top: rem(-28px);
        left: 0;
        width: rem(75px);
        height: rem(61px);
        background: url("../img/quote.png") center no-repeat;
        background-size: contain;
      }
      .container_user {
        margin: 0;
        text-align: center;
        font-family: Roboto, sans-serif;
        font-size: rem(16px);
        line-height: rem(24px);
        font-style: italic;
      }
        .name {
          font-family: Roboto, sans-serif;
          font-size: rem(16px);
          line-height: rem(24px);
          font-weight: bold;

        }
  }
  .about_me_contact_form {
    position: relative;
    margin-top: rem(69px);
    margin-bottom: rem(70px);
    width: rem(380px);
    //height: 460px;
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

    .form_wrap {
      position: relative;
      padding: 0 20px;
      padding-bottom: rem(55px);
      padding-top: rem(40px);
      height: 100%;
    }
      .form_wrap_blur {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom: 0;
        height: 100%;
        width: 100%;
        filter: blur(3px);
        background-image: url("../img/night-tree.jpg");
        background-position: center center;
      }
      .form__title {
        position: relative;
        color: white;
        text-align: center;

        font-family: sansus, sans-serif;
        font-size: rem(35px);
        font-weight: 600;
        line-height: rem(40px);
        text-transform: uppercase;


        margin-bottom: rem(50px);
      }
        .form__title:before {
          display: block;
          content: '';
          position: absolute;
          bottom: -20px;
          left: 50%;
          margin-left: rem(-44.5px);
          width: rem(89px);
          height: 0;
          border: 1.75px solid #566358;
        }
      .form__input {
        box-sizing: border-box;
        width: 100%;
        height: 45px;
        padding-left: rem(15px);
        margin-bottom: rem(20px);
        background-color: rgba(255,255,255,.07);
        border: none;
        color: white;
        position: relative;
      }
      .form_text {
        box-sizing: border-box;
        width: 100%;
        height:130px;
        padding-left: 15px;
        padding-top: 15px;
        resize: none;
        border: none;
        background-color: rgba(255,255,255,.07);
        color: white;
        position: relative;
      }
  .form__buttons {
    list-style: none;
    padding: 0;
    width: 100%;
    display: table;
    position: absolute;
    bottom: 0;
    left: 0;
    .button {
      display: table-cell;
      width: 50%;
      height: rem(45px);
      border:none;
      cursor: pointer;
      border-radius: 0;
      outline: 0;
    }
    .sybm {
      background-color: #004cd1;
      color: #fff;
    }
    .sybm:hover {
      background-color: rgba(4, 62, 163, 0.85);
    }
    .clear {
      background-color: transparent;
      color: rgba(255,255,255,.5);
    }
    .clear:hover {
      background-color: rgba(255, 255, 255, 0.05);
    }

  }
  .arrow_up {
    margin-bottom: 40px;
    transform: rotate(180deg);
    cursor: pointer;
  }
  .footer {
    position: relative;
    .copyright {
      position: relative;
    }
  }
}





//Футер основной

@import'common/_footer';

//Обо мне
@import'common/_about';

//Блог
@import'common/_blog';


//Адаптив
@import'common/_adaptive';

//Сендвич меню
@import'common/_sandwich_menu';
