nav#menu.nav.nav_main.nav_close
    .close_btn
        button.menu-toggle.active#btn_close(type='button')
            span.line
    ul.nav__list
        li.nav__item
            a.nav__link.nav__link_activ(href='/works.html') Мои работы
        li.nav__item
            a.nav__link(href='/blog.html') Блог
        li.nav__item
            a.nav__link(href='/about.html') Обо мне
        li.nav__item
            a.nav__link(href='/index.html') Авторизация