aside.blog__themes_sidebar
    button.sidebar_btnСодержание
    ul.blog__list
        li.blog__list_item.blog__list_item-active
            a.blog__link(href='#') Самое важное в SASS
        li.blog__list_item
            a.blog__link(href='#') Приемы в верстке, без которых
                | не обходится ни один сайт
        li.blog__list_item
            a.blog__link(href='#') Автоматизация работы с Gulp
        li.blog__list_item
            a.blog__link(href='#') Почему я выбрал Jade
        li.blog__list_item
            a.blog__link(href='#bower') Немного про Bower