aside.blog__themes_sidebar
    button.sidebar_btnСодержание
    ul.blog__list
        li.blog__list_item.blog__list_item-active
            a.blog__link(href='#sass') Самое важное в SASS
        li.blog__list_item
            a.blog__link(href='#skill') Приемы в верстке, без которых
                | не обходится ни один сайт
        li.blog__list_item
            a.blog__link(href='#gulp') Автоматизация работы с Gulp
        li.blog__list_item
            a.blog__link(href='#jade') Почему я выбрал Jade
        li.blog__list_item
            a.blog__link(href='#bower') Немного про Bower