.main_about_me {
  position: relative;
}
.about_me_svg {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 200px;
  .svg__item {
    stroke: none;
    stroke-width: 0;
  }
  .about_me_svg_right {
    fill: #EFEBE0;
  }
  .about_me_svg_left {
    fill: #F0EFE9;
  }
}
.about_me_wrapper {
  display: table;
}
.info-about-me {
  display: table-cell;
  vertical-align: top;
  width: 50%;
  background: #F0EFE9;
  .about_me_title {
    float: left;
    width: rem(340px);
    text-align: center;
    margin-bottom: rem(50px);
    background: url(../img/star2.png) no-repeat;
  }
  .me_title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Sansus,sans-serif;
    font-size: rem(63px);
    line-height: rem(66px);
    font-weight: 400;
    color: #373e42;
  }
  .block-about {
    float: right;
    width: rem(480px);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .about-pict {
    width: auto;
    max-height: rem(390px);
  }
  .text_about_me {
    width: rem(370px);
    margin-top: rem(39px);
    color: #474b57;
    font-family: Roboto,sans-serif;
    font-size: rem(16px);
    line-height: rem(24px);
    font-weight: 400;
  }
}

.advantages {
  display: table-cell;
  vertical-align: top;
  width: 50%;
  padding-left: rem(30px);
  box-sizing: border-box;
  background: #EFEBE0;
  .text_title {
    margin-top: 0;
    margin-bottom: rem(70px);
  }
  .my-prof {
    font-family: Roboto,sans-serif;
    font-size: rem(16px);
    line-height: rem(24px);
    color: #474b57;
  }

  .diagrams {
    margin: 0;
    padding: 0;
    font-size: 0;
  }
  .dia {
    display: inline-block;
    position: relative;
    margin-bottom: rem(39px);
    margin-right: rem(40px);
  }
  .g-circles {
    fill: none;
    stroke-width: 20;
  }
  .diagram__text {
    fill: #243994;
    font-family: Roboto;
    font-size: rem(14px);
    font-weight: 500;
    line-height: rem(32px);
    text-anchor: middle;
  }
  .sector {
    stroke-dasharray: 0 408;
    transition: all 1s;
    opacity: 1;
  }
  .html5 .sector {
    stroke-dasharray: 204 408;
  }
  .css3 .sector {
    stroke-dasharray: 204 408;
  }
  .js .sector {
    stroke-dasharray: 50 408;
  }
  .php .sector {
    stroke-dasharray: 20 408;
    opacity: .35;
  }
  .mysql .sector {
    stroke-dasharray: 20 408;
    opacity: .35;
  }
  .nodejs .sector {
    stroke-dasharray: 50 408;
    opacity: .35;
  }
  .mongo .sector {
    stroke-dasharray: 20 408;
    opacity: .35;
  }
  .git .sector {
    stroke-dasharray: 100 408;
  }
  .gulp .sector {
    stroke-dasharray: 120 408;
    opacity: .55;
  }
  .bower .sector {
    stroke-dasharray: 210 408;
    opacity: .35;
  }

}

.text_title {
  position: relative;
  margin-top: rem(41px);
  height: rem(25px);
  font-size: rem(35px);
  line-height: rem(41px);
  font-family: Sansus,sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #474b57;
}
.text_title:after {
  display: block;
  content: '';
  position: absolute;
  bottom: rem(-30px);
  left: 50%;
  margin-left: rem(-44.5px);
  width: rem(89px);
  height: 0;
  border: 1.5px solid #566358;
}



//Карта
.map {
  height: 100vh;
  position: relative;
  .map_image {
    height: 100%;
    width: 100%;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .contacts-info {
    max-width: rem(580px);
    min-height: rem(285px);
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    padding: rem(18px) rem(10px) rem(30px) rem(16px);
    transform: translate(-50%, -50%);
    background: rgba(255,255,255,0.7);
    font-style: normal;
  }
  .text_title {
    margin-top: 0;
    margin-bottom: rem(63px);
    text-align: center;
  }
  .map__contacts_list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .map__list_item {
    position: relative;
    display:inline-block;
    vertical-align: middle;
    width: 49%;
    margin-bottom: rem(30px);
    opacity: .8;
    color: #484b57;
    font-family: Roboto;
    font-size: rem(16px);
    font-weight: 500;
    line-height: rem(45px);
    color: #474b57;
  }
  .contacts_link {
    position: relative;
    padding-left: rem(8px);
    color: #474b57;
    text-decoration: none;
  }
  .item:before {
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: rem(45px);
    height: rem(45px);
  }
  .skype:before {
    background: url(../img/skype_n.svg) center no-repeat;
    background-size: cover;
  }
  .tel:before {
    background: url(../img/phone_n.svg) center no-repeat;
    background-size: cover;
  }
  .mail:before {
    background: url(../img/envelope_n.svg) center no-repeat;
    background-size: cover;
  }
  .adress:before {
    background: url(../img/map_n.svg) center no-repeat;
    background-size: cover;
  }
}

div#map{
  height: 100%;
  background-color: #0000AA;
}