@media (max-width: 1800px) {

}

@media (max-width: 1200px) {
  html {
    font-size: 15px;
  }
  .footer {
    .content_info {
      max-width: rem(380px);
    }
    .navigation-map {
      max-width: rem(480px);
    }
  }
  .blog__themes {
    max-width: 280px;
    .blog__list {
      padding-left: 5%;
    }
  }
  .blog__content  {
    float: right;
    max-width: 880px;
  }

}
@media (min-width: 768px) {
  .login {
    align-self: flex-end;
    margin-left:auto;
  }
}
  //Планшет
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .mountain_bg img {
    max-height: 250px;
  }
  .copy .copyright {
    display: block;
    &::after {
      display: none;
    }
  }
  .map .map__list_item {
    display: block;
    width: 100%;
  }
  .map .map__list_item:last-child {
    margin-bottom: 0;
  }
  .blog__themes {
    display: none;
  }
  .blog__content {
    float: none;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }


//    обо мне
  .info-about-me {
    width: 100%;
    float: none;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .about_me_svg .about_me_svg_right {
    fill: #F0EFE9;
  }
  .advantages {
    float: none;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .info-about-me .block-about {
    min-height: 100%;
  }
  //Портфолио
  .block_portfolio {
    flex-wrap: nowrap;
    height: auto;
  }
  .block_portfolio .portfolio_content_descr {
    width: 100%;
    order: 2;
    min-height: 270px;
    height: 260px;
  }
  .block_portfolio .portfolio_content_img {
    width: 100%;
    order: 1;
    max-height: 600px;
  }
  .block_portfolio .portfolio_content_nav {
    width: 100%;
    order: 3;
    min-height: 215px;
  }

  .about_me {
    padding: 0 10px;
  }
  //
  .footer {
    padding-top: rem(10px);
    .content_info {
      float: none;
      max-width: 100%;
      text-align: center;
      height: rem(45px);
      border-right: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    .navigation-map {
      max-width: rem(550px);
      border-right: none;
      height: auto;
      padding-top: rem(10px);
    }
    .block_menu {
      margin-bottom: rem(15px);
    }
    .contacts {
      float: right;
      text-align: right;
      padding-top: rem(10px);
    }
  }
}

  //Мобильные
@media (max-width: 380px) {
    html {
      font-size: 12px;
    }
    .container {
      width: 100%;
      margin: auto;
      padding: 0 10px;
      box-sizing: border-box;
    }
    .info-nav-list a {
      padding: 0;
    }

//    обо мне
  .advantages .dia {
    margin-right: rem(24px);
  }
  .map .contacts-info {
    width: 100%;
    top:25%;
    background: rgba(255, 255, 255, 1);
  }
  //Портфолио
  .block_portfolio {
    flex-wrap: nowrap;
    height: auto;
  }
  .block_portfolio .portfolio_content_descr {
    height: 260px;
  }
  .block_portfolio .portfolio_content_img {
    max-height: 257px;
  }
  .block_portfolio .portfolio_content_nav {
    min-height: 93px;
  }
  //
//footer
  .footer {
    .content_info {
      height: rem(60px);
    }
    .navigation-map {
      padding-bottom: rem(20px);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      .block_menu_list {
        margin-left: rem(15px);
      }
    }

    .info-social {
      justify-content: center;
    }
    .contacts {
      width: 100%;
      text-align: center;
    }
    .copyright span {
      display: block;
    }
  }
}


