.main_blog_header {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  width: 100%;
  //height: rem(200px);
  //background: url("../img/bg-light.svg")no-repeat center;
  //background-size: cover;
  overflow: hidden;
}
.header-corner {
  display: inline-block;
  float: left;
  width: 50%;
  fill: #FAF8F0;
}
.main-blog {
  position: relative;
  background-color: #faf8f0;
}
.blog__themes {
  max-width: 490px;
  float: left;
  min-height: 100%;
}
.blog__list {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 35%;
  text-align: right;
}
.blog__list_item {
  color: #455a64;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
  vertical-align: middle;
  padding: 5px 15px 5px 0;
  cursor: pointer;
}
.blog__list_item-active {
  position: relative;
  color: #083c96;
  font-weight: 700;
  border-right: 2px solid #083c96;
  a{
    color: inherit;
  }
}
.blog__link {
  color: #455a64;
  text-decoration: none;
}


.blog__content {
  float: left;
  max-width: 920px;
  padding-left: 20px;
  margin-bottom: 145px;
}
.content__article {
  box-sizing: border-box;
  padding-bottom: 70px;
  border-bottom: 5px solid rgba(55, 62, 66, .07);
  margin-bottom: 68px;
  &:last-of-type{
    border: none;
  }
}
.content__header {
  font-family: Sansus, sans-serif;
  font-size: 35px;
  line-height: 41px;
  margin-bottom: 24px;
  margin-top: 0;
  color: #455a64;
}
.content__text {
  color: #455a64;
    ul,li {
      color: inherit;
    }
    img {
      max-width: 100%;
    }
}
.content__text-paragraph {
  font-size: 16px;
  line-height: 26px;
  color: #455a64;
}
.content__date {
  color: rgba(8,60,150,.7);
}