.footer {
  box-sizing: border-box;
  width: 100%;
  min-height: rem(145px);
  position: absolute;
  bottom: 0;
  padding-top: rem(25px);
  left: 0;
  background-color: rgba(28,31,41,.85);
  .content_inner {
    display: flex;
    justify-content: space-between;
  }
    .content_info {
      box-sizing: border-box;
      max-width: rem(350px);
      padding-left: rem(30px);
      padding-right: rem(30px);
      font-size: rem(16px);
      line-height: rem(24px);
      font-family: 'roboto';
      font-weight: 300;
      color: #fff;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .navigation-map {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      max-width: rem(580px);
      padding-left: rem(30px);
      padding-bottom: rem(10px);
      width: 35%;
      border-left: 1px solid rgba(255, 255, 255, 0.2);
    }
    .block_menu {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 0;
    }
    .block_menu_list {
      display: inline-block;
      vertical-align: top;
      font-size: 0;
      margin-right: rem(40px);
    }
    .block_menu_list:last-child {
      margin-right: 0;
    }
    .link {
      font-size: rem(16px);
      font-weight: 500;
      font-family: "Roboto", sans-serif;
      color: #fff;
      text-decoration: none;
      &:hover {
        color: #0548be;
      }
      &:active {
        color: #0548be;
        opacity: .5;
      }
    }
    .info-social {
      margin-top: auto;
      margin-left: 0;
      font-size: 0;
      list-style: none;
      padding: 0;
      display: flex;
      align-items: center;

    }
    .social-list {
      margin-left: rem(27px);
    }
    .vk-svg,.github-svg,.skype-svg {
      fill: rgba(255,255,255,.5);
    }
    .contacts {
      box-sizing: border-box;
      width: 30%;
      padding-left: rem(30px);
      padding-right: rem(30px);
      height: 96px;
      border-left: 1px solid rgba(255, 255, 255, 0.2);
      .contacts_list {
        list-style: none;
        margin: 0;
        padding: 0;
        font-family: 'roboto';
        font-weight: 300;
        font-size: rem(16px);
        color: #fff;
        }
        .contacts_li {
          margin-bottom: 5px;
          }
          .contacts_link {
            color: #fff;
            opacity: .5;
            text-decoration: none;
            &:hover {
              color: #0548be;
            }
            &:active {
              color: rgba(8,60,150,.85);
            }
          }
  }
  .copyright {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-height: rem(38px);
    background-color: rgba(8,60,150,.85);
    text-align: center;
    font-size: rem(16px);
    line-height: rem(38px);
    font-weight: 100;
    color: #fff;
  }
}